<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- HEADER -->
      <app-header></app-header>
    <!-- /HEADER -->
  
    <!-- SIDEBAR -->
      <app-sidebar></app-sidebar>
    <!-- /SIDEBAR -->
  
    <!-- ============================================================= -->
    <!-- Page wrapper  -->
    <!-- ============================================================= -->
    <div class="page-wrapper">
  
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
  
        <!-- BREADCRUM -->
          <app-breadcrumbs></app-breadcrumbs>
        <!-- /BREADCRUM -->
  
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                      This is some text within a card block.
                  </div>
              </div>
          </div>
          </div> -->
        <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
  
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
  
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
