<!-- ============================================================= -->
<!-- Box Incrementador/Decrementador  -->
<!-- ============================================================= -->
<h3 class="card-title"> {{ title }} </h3>
<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="decrease()">
            <i class="mdi mdi-minus"></i>
        </button>
    </span>
    <input #progressIput type="number" class="form-control" name="progress" [(ngModel)]="progress" min="0" max="100" (ngModelChange)="setProgress( $event )" />
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="increase()">
            <i class="mdi mdi-plus"></i>
        </button>
    </span>
</div>
<!-- ============================================================= -->
<!-- Box Incrementador/Decrementador  -->
<!-- ============================================================= -->
